
OPENAI_API_KEY=your-openai-api-key

CLERK_ISSUER=your-clerk-issuer
CLERK_SECRET_KEY=your-clerk-secret-key
CLERK_JWKS_URL=your-clerk-jwks-url

DATABASE_PASSWORd=your-database-password
 
DATABASE_URL=local-db
 